.DS_Store
Thumbs.db
package-lock.json
/.idea/*
/.vscode/*
/bitrix/*
/upload/*
/cgi-bin/*
/node_modules/*
/bower_components/*
/vendor/*
/local/logs/*
/local/templates/**/css/*
/local/templates/**/js/*
/local/assets/build/*
*.code-workspace
*.log
